@using RentACar.Utilities
@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Role_User))
{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
